<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link href="{% static 'css/tabler.min.css' %}" rel="stylesheet"/>
    <title>霍霍的电影出租屋</title>
    <style>
        .container {
            width: 1000px;
            margin: 0 auto;
        }

        .item {
            width: 25%;
            float: left;
        }

        .item img {
            width: 100%;
        }

        .modal-dialog {
            max-width: max-content;
            margin-right: 8%;
            margin-left: 8%;
        }
    </style>
</head>
<body>
<!-- 业务页面代码 -->
<div class="page-body">
    <div class="container-xl">
        <div class="row row-cards" id="recommend_content">
            {% for item in Items %}
                <div class="col-6 col-md-3 col-xl-2">
                    <div class="card card-sm card-link-pop rounded-3">
                        <a href='javascript:show_mediainfo_modal({{ item }})'>
                            <img src="{{ item.image }}" class="card-img-top"
                                 style="border-top-left-radius:8px !important; border-top-right-radius:8px !important; object-fit:contain;">
                        </a>
                        <div class="card-body">
                            <div class="d-flex align-items-center">
                                <div>
                                    <div><strong>{{ item.title }} ({{ item.year }})</strong></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- 媒体详情 -->
<div class="modal modal-blur fade" id="system-media-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="ribbon ribbon-top ribbon-bookmark bg-purple" id="system_media_vote"></div>
                <div class="row row-0">
                    <div class="col-3 d-lg-block">
                        <img id="dialog_media_poster" src="" onerror="this.src='/static/images/no-image.png'"
                             class="w-100 h-100 object-cover">
                    </div>
                    <div class="col">
                        <div class="card-body">
                            <h4 class="card-title mb-3">
                                <div><strong id="dialog_media_name"></strong></div>
                                <span class="text-muted" id="dialog_release_date"></span>
                            </h4>
                            <br/>
                            <div id="dialog_media_overview">电影简介</div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="col">
                <div class="card-body">
                    <div>来自硬盘：<strong id="dialog_media_disk"></strong></div>
                    <div id="dialog_media_path"></div>
                    <br/>
                </div>
            </div>

            <div class="d-flex">
                <a href="javascript:void(0)" class="card-btn" data-bs-dismiss="modal">
                    关闭
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript">
    //显示媒体详情
    function show_mediainfo_modal(item) {
        $("#dialog_media_name").text(item.title);
        $("#dialog_release_date").text(item.year);
        $("#dialog_media_disk").text(item.disk);
        $("#dialog_media_path").text(item.path);
        $("#dialog_media_poster").attr("src", item.image);
        $("#system-media-modal").modal("show");
    }

    //隐藏媒体详情
    function hide_mediainfo_modal() {
        $("#system-media-modal").modal("hide");
    }

    //禁止双指放大
    document.documentElement.addEventListener('touchstart', function (event) {
        if (event.touches.length > 1) {
            event.preventDefault();
        }
    }, false);

    //禁止双击放大
    var lastTouchEnd = 0;
    document.documentElement.addEventListener('touchend', function (event) {
        var now = Date.now();
        if (now - lastTouchEnd <= 300) {
            event.preventDefault();
        }
        lastTouchEnd = now;
    }, false);
</script>
</body>
</html>